@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lexend+Deca:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lexend+Deca:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #E3C9EE;
    font-family: 'Poppins', sans-serif;
}

#pr-frame{
    height: 100vh;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none; /* РHide scrollbar */
}

.pr-child-panel {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 14rem;
    background-color: #B35BD9;
    color: white;
}

.pr-child-panel a{
    font-family: Lato;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

.pr-child-container {
    font-family: Lato;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-indent: 0.5rem;
    box-shadow: 0px 0px 1px #440C5C; 
    transition-duration: 0.3s;
}

.pr-child-container:hover {
    background-color: #A635D6;
    transition-duration: 0.3s;
}

.pr-child-container img {
    width: 3rem; 
    height: 3rem; 
    border-radius: 50%; 
    margin: 0.28rem;
}

#pr-p-container a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 9px rgba(0,0,0,0.6);
}

#pr-p-container, #pr-text-container{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: 0.1rem solid transparent;
    border-radius: 200rem;
    width: auto;
    margin-top: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.2s;
    height: auto;
    width: 3.5rem;
    margin-bottom: 0.4rem;
}

#pr-p-container:hover{
    background-color: #A635D6;
    transition-duration: 0.2s;
}

#pr-first-row {
    margin-left: 12rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 20% 20%;
}

#pr-photo img{
    height: 20rem;
    width: 20rem;
    box-shadow: 0px 0px 5px black;
}

#pr-child-info{ 
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: bold;
    /* overflow-y: scroll; */
    font-size: 1.3rem;
    height: 28rem;
    width: 36rem;
    color: rgb(69, 69, 69);
    text-shadow: 0px 0px 1px #440C5C;
    display: grid;
}

#pr-last-info-item {
    height: 3rem;
}

.pr-answer{
    color: black;
}

#pr-2col-table .pr-child-info-input{
    border-radius: 0.3rem;    
    text-shadow: 0px 0px 1px #440C5C;
}

#pr-2col-table {
    min-height: 250px;
    min-width: 630px;
    justify-items: center;
    margin-top: 13%;
    margin-left: 15%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 15% 15% 15%;
    flex: 1;
}

#pr-close-2col-form {
    display: none;
    left: 81.6%;
    top: 3%;
    position: absolute;
}

#pr-close-2col-form img:not(:hover){
    transition-duration: 0.2s;
}

#pr-close-2col-form img:hover {
    border-radius: 100%;
    background-color: #d18eeb;
    transition-duration: 0.2s;
}

#pr-close-2col-form img:active {
    border-radius: 100%;
    background-color: #b256d6;
}

/* #pr-2col-table label{
    font-size: 1.2rem;
    margin-right: 1rem;
}*/

#pr-2col-table li label{
    margin-right: 0.5rem;
} 

#pr-2col-table li:not(:nth-child(3)) input{
    height: 2rem;
    width: 12rem;
}

#pr-2col-table input{
    text-indent: 0.3rem; 
    font-size: 1.1rem;
}

#pr-2col-table #pr-medical-history-button{
    border-radius: 0.6rem;
    height: 3.5rem;
    width: 12rem;
    font-size: 1.3rem;
    text-shadow: 0px 0px 1px black;
    transition-duration: 0.3s;
    background-color: #E3C9EE;
    border: none;
    box-shadow: 0px 0px 2px black;
    margin-left: 100%;
    margin-top: 1rem;
    font-family: Lato;
}

#pr-2col-table #pr-medical-history-button:hover {
    background-color: #dfbced;
    transition-duration: 0.3s;
}

#pr-2col-table #pr-medical-history-button:active {
    border: 0.01rem solid #440C5C;
}

#pr-2col-table-info {
    display: grid;
    grid-template-columns: 50% 50%;
}

#pr-child-data-form {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: #deadf1;
}

#pr-add-more-info-button, #pr-add-memory-button, #pr-see-calendar{
    border-radius: 0.6rem;
    height: 2rem;
    width: 10rem;
    transition-duration: 0.3s;
    background-color: #dfbced;
    border: none;
    margin-left: 32%;
    margin-right: auto;
    box-shadow: 0px 0px 2px black;
    margin-top: -4.68rem;
}

#pr-add-memory-button, #pr-see-calendar{
    margin-left: 0%;
}

#pr-add-more-info-button:active, #pr-add-memory-button:active, #pr-see-calendar:active{
    border: 0.01rem solid #440C5C;
}

#pr-add-more-info-button:hover, #pr-add-memory-button:hover, #pr-see-calendar:hover{
    background-color: #deadf1;
    transition-duration: 0.3s;
}

#pr-timeline {
    margin-left: 14rem;
    width: 95%;
    height: 13rem;
    display: grid;
    grid-template-columns: 90% 10%;
}

#pr-line {
    position: relative;
    width: 100%;
    height: 0.2rem;
    margin-top: 5rem;
    background-color: #440C5C;
}

#pr-arrow {
    position:relative;
    margin-top: 3.96rem;
    margin-left: -2.4rem;
    width: 2rem;
    height: 2rem;
    border-top: 0.25rem solid #6E18C0;
    border-right: 0.25rem solid #6E18C0;
    transform: rotate(45deg);
}

#pr-child-buttons{
    display: grid;
    margin-left: 44%;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 12rem;
}

/* #pr-add-memory-button, #pr-see-calendar {
    height: 2rem;
    width: 10rem;
    border-radius: 0.6rem;
    border: none;
    box-shadow: 0px 0px 3px black;
} */