body {
    margin: 0;
    padding: 0;
    background-color: #e3c9ee;
    font-family: 'Poppins', sans-serif;
    overflow: hidden; /* In regula pentru pagina de login, nu?*/
}

#welcome-text {
    position: absolute;
    color: #801faa;
    margin-top: -76%;
    font-size: 8rem;
    letter-spacing: -0.3rem;
    transform: scale(1, 1);
    font-family: Lato;
    font-style: oblique;
    text-shadow: 0.3rem 0.4rem 0.3vh #440c5c; 
}

#background-animation {
    position: relative;
    transform: rotate(6deg);
    width: 14rem;
    height: 120vh;
    filter: blur(0.3rem);
    animation-name: wave;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /* always same speed */
}

@keyframes wave {
    from {
        margin-top: -5%;
        background: linear-gradient(to right, #b35bd9 20%, #a635d6 40%, #a635d6 60%, #b35bd9 20%);
        margin-left: -17.5vw;
    }
    to {
        margin-top: -5%;
        background: linear-gradient(to right, #b35bd9 20%, #a635d6 40%, #a635d6 60%, #b35bd9 20%);
        margin-left: 105vw;
    }
  }

.grid {
    position: relative;
    display: grid;
    place-items:center;
    grid-template: 35% 75% / 100%;
    /*height: 97vh; /* equivalent to 97% of the height */
}

/*#login-family {
    position: relative;
    margin-top: -4.5rem;
    align-items: center;
    text-align: center;
}*/

#loginbox {
    margin-top: -45%;
    box-shadow: 0vh 0vh 0.4vh black; /* right left spread*/
    border: 0.5rem solid #c674e9;
    border-radius: 3rem;
    width: 30rem;
    height: 17rem;
    background-color: white;
    position: fixed;
}

#loginbox li {
    list-style: none;
}

#login-form ul {
    margin-top: 1.7rem;
    display: grid;
    width: 30rem;
    height: 24rem;
    grid-template: 5rem 5rem 5rem 1fr / 1fr; /* rows / columns */ 
}

.user-name-input, .user-password-input, .user-name-input:not(focus), .user-password-input:not(focus) {
    text-indent: 0.7rem; /* space before input*/ 
    background-color: #f6f6f6;
    margin-top: 0.5rem;
    height: 2rem;
    width: 82%;
    border-radius: 1rem;
    border: 0.01rem solid rgb(203, 203, 203);
    box-shadow: 0rem 0rem 0.15rem rgb(177, 177, 177);
    transition-duration: 0.3s;
}

.user-name-input:focus, .user-password-input:focus {
    outline: none;
    text-indent: 0.7rem; /* space before input*/ 
    background-color: #e6e6e6af;
    transition-duration: 0.3s;
    margin-top: 0.5rem;
    height: 2rem;
    width: 82%;
    border-radius: 1rem;
    border: 0.01rem solid rgb(203, 203, 203);
    box-shadow: 0rem 0rem 0.15rem rgb(177, 177, 177);
}
  
#login-button, #login-button:not(hover) {
    outline: none;
    border: 0.01rem solid rgb(203, 203, 203);
    box-shadow: 0rem 0rem 0.15rem rgb(177, 177, 177);
    width: 8rem;
    height: 2.2rem;
    border-radius: 1rem;
    margin-left: 28%;
    transition-duration: 0.3s;
    font-size: 0.95rem;
}

#login-button:active {
    box-shadow: 0rem 0rem 0.15rem rgb(83, 83, 83);
}

#login-button:hover {
    background-color: #dbdbdbc9;
    transition-duration: 0.2s;
    width: 8rem;
    height: 2.2rem;
    border-radius: 1rem;
    margin-left: 28%;
}

#register {
    text-align: right;
    margin-top: -5.8%;
    margin-right: 17.8%;
    font-size: 0.85rem;
}

#user-name {

}

#login {
    margin-top: 10vh;
    margin-left: 5vw;
    width: 10vw;
    height: 10vw;
}

#name {
    border: 0.5rem solid #c8c8c8;
    background-color: rgb(197, 197, 197);
}

#login-button {
    
}