.feed-content-container {
    background-color: #fefefe;
    width: 36.5rem;
    max-width: 36.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    margin: 10px auto;
    padding-bottom: 10px;
    border: 0.01rem solid black; /* #C2E0F9 */
    box-shadow: 2px 2px 2px 2px rgba(68, 12, 92, 0.26);
    border-radius: 0.5rem;
}

.feed-account-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 3.2rem;
    margin-bottom: 0.15rem;
    margin-top: 0.9rem;
    margin-left: 11.3%;
}

.feed-content-auth {
    width: 49px; /* Set the width */
    height: 49px; /* Set the height */
    border-radius: 50%; /* Optional: make the image circular */
    /* margin-right: 30rem; */
    margin-top: 0.28rem;
    margin-left: 0.5%;
    position: absolute;
}

.feed-pub-time {
    color: #757575;
    font-size: 0.8rem;
    /* margin-right: 1.2rem; */
}

.feed-content-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed-content-img img {
    width: 35rem;
    height: auto;
    object-fit: contain;
    border-radius: 0.6rem;
    box-shadow: 1px 2px 5px -1px black;
}

.feed-content-video video {
    max-width: 100%;
    height: auto;
}

.feed-content-audio audio {
    width: 100%;
}

.feed-background {
    background-image: url(../page-images/=.png);
    background-repeat: repeat;
    background-size: contain;
    margin-top: -10px;
    margin-bottom: -10px;
}

.feed-top-delim {
    height: 15rem;
    margin-top: -13.5rem;
}

.feed-description {
    width: 94%;
    font-family: sans-serif;
    word-wrap: break-word;
    align-self: center;
    padding-bottom: 0.85rem;
}

.feed-bottom-delim {
    height: 15rem;
}

.feed-content-container hr {
    border: 0rem solid black; 
    width: 100%;
    padding: 0;
    margin: 0;
}
