@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lexend+Deca:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lexend+Deca:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playwrite+IS:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');body {
    margin: 0;
    padding: 0;
    background-color: #E3C9EE;
    font-family: 'Poppins', sans-serif;
}

button {
    user-select: none;
    cursor: pointer;
}

#pr-frame{
    width: 100vw;
    height: 97vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 85.4% 14.6%;
}

::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

/* #pr-child-panel-opener {
    height: 0rem;
    width: 0rem;
    position: absolute;
    top: 43%;
    left: 97.95%;
    background-color: #A635D6;
}

#pr-child-panel-opener:before {
    content: "";
    position: inherit;
    height: 6rem;
    display: block;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top: 1rem solid transparent;
    border-right: 1.95rem solid #A635D6;
    border-bottom: 1rem solid transparent;
} */

.pr-important-memory {
    color: #ebebeb;
    text-shadow: 0px 0px 1px black;
    background: linear-gradient(24deg, #ce80f0, #bc3af3, #490e48, #c749be, #c054be);
    background-size: 1000% 1000%;

    animation: importantMemoryAnim 10s ease infinite;
}

@keyframes importantMemoryAnim {
    0%{background-position:0% 72%}
    25%{background-position:25% 25%}
    50%{background-position:100% 29%}
    25%{background-position:75% 53%}
    100%{background-position:0% 72%}
}

.pr-not-important-memory {
    background-color: #e2e2e2;
}

#pr-child-panel {
    /* overflow-y: scroll;
    position: fixed; */
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    /* height: 123vh; */
    width: 17vw; /* 14rem */
    background-color: #B35BD9;
    color: white;
}

#pr-child-panel a{
    cursor: pointer;
    font-family: Lato;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

.pr-child-container {
    font-family: Lato;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-indent: 0.5rem;
    box-shadow: 0px 0px 1px #440C5C; 
    transition-duration: 0.3s;
}

.pr-child-container span {
    user-select: none; 
    font-family: "Noto Sans JP", sans-serif;
    text-shadow: 3px 2px 3px black;
    font-size: 1.01rem;
    color: #e9e9e9;
    margin-bottom: 0.25rem;
}

.pr-child-container:hover {
    background-color: #A635D6;
    transition-duration: 0.3s;
}

.pr-child-container img {
    width: 3rem; 
    height: 3rem; 
    border-radius: 50%; 
    margin: 0.28rem;
    margin-left: 0.7rem;
    object-fit: cover; /* cutting and extending the image to fit in container */
    /* object-position: top; cuttin starting from the top */
}

#pr-p-container{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: 0.1rem solid transparent;
    border-radius: 200rem;
    margin-top: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.2s;
    height: auto;
    width: 3.5rem;
    margin-bottom: 0.4rem;
    color: white;
    background-color: #B35BD9;
    text-shadow: 0px 0px 9px rgba(0,0,0,0.6);
}

#pr-text-container{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: 0.1rem solid transparent;
    border-radius: 200rem;
    width: auto;
    margin-top: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.2s;
    height: auto;
    width: 3.5rem;
    margin-bottom: 0.4rem;
}

#pr-p-container:hover{
    background-color: #A635D6;
    transition-duration: 0.2s;
}

#pr-p-container:active{
    background-color: #781aa0;
    transition-duration: 0.2s;
}

#pr-first-row {
    width: 40%; /* 42 */
    margin-left: 12rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 20% 20%;
}

#pr-first-row #pr-child-photo-container input {
    opacity: 0;
    height: 20rem;
    width: 20rem;
    position: relative;
    top: -20.67rem;
}

#pr-child-photo-container{
    user-select: none;
    height: 20rem;
    width: 20rem;
    box-shadow: 0px 0px 5px black;
    background-color: rgb(150, 150, 150);
    background-image: url("../page-images/add-photo-icon.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y: center;
}

#pr-child-photo-container::after{
    content: "";
    /* z-index: 0; */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    filter: blur(0.03rem);
    position: relative;
    display: block;
    top: -23.2rem;/* top: -2.45rem; */
    left: -0.025rem;
    height: 2.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../page-images/update-profile-photo-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13%;
    opacity: 0;
    transition: 0.3s;
}

#pr-child-photo-container:hover::after {
    opacity: 1;
    background-size: 14%;
}

#pr-child-photo-container:active::after {
    background-color: rgba(0, 0, 0, 0.8);    
}

#pr-child-photo-container img {
    user-select: none;
    height: 20rem;
    width: 20rem;   
    opacity: 0;
}

#pr-child-info{ 
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: bold;
    /* overflow-y: scroll; */
    font-size: 1.3rem;
    height: 25rem;
    width: 160%;
    color: rgb(69, 69, 69);
    text-shadow: 0px 0px 1px #440C5C;
    display: grid;
}

#pr-last-info-item {
    height: 3rem;
    /* text-align: center;
    margin-right: 7rem; */
}

.pr-answer{
    color: black;
    font-family: "Noto Sans JP", sans-serif;
    margin-left: 0.3rem;
    font-size: 1.22rem;
    font-weight: 650;
}

#pr-2col-table .pr-child-info-input{
    text-indent: 0.3rem;
    background-color: white;
    font-size: 1em;
    border-radius: 0.3rem;    
    text-shadow: 0px 0px 1px #440C5C;
}

/* .pr-normal-input {
    background-color: rgb(223, 223, 223);
} */

.pr-wrong-input {
    background-color: rgb(229, 65, 65);
    animation: wrongInputAnimation 1s ease;
}

@keyframes wrongInputAnimation {
    0% {background-color: rgb(229, 65, 65)}
    10% {background-color: rgb(203, 43, 43)}
    20% {background-color: rgb(229, 65, 65)}
    30% {background-color: rgb(203, 43, 43)}
    40% {background-color: rgb(229, 65, 65)}
    50% {background-color: rgb(203, 43, 43)}
    60% {background-color: rgb(229, 65, 65)}
    70% {background-color: rgb(203, 43, 43)}
    80% {background-color: rgb(229, 65, 65)}
    90% {background-color: rgb(203, 43, 43)}
    100% {background-color: rgb(229, 65, 65)}
}

#pr-2col-table {
    min-height: 260px;
    min-width: 630px;
    justify-items: center;
    margin-top: 13%;
    margin-left: 15%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 15% 15% 15%;
    flex: 1;
}

#pr-close-2col-form {
    display: none;
    left: 79.6%;
    top: 2%;
    position: absolute;
}

#pr-close-2col-form img:not(:hover){
    transition-duration: 0.2s;
}

#pr-close-2col-form img:hover {
    border-radius: 100%;
    background-color: #d18eeb;
    transition-duration: 0.2s;
}

#pr-close-2col-form img:active {
    border-radius: 100%;
    background-color: #b256d6;
}

/* #pr-2col-table label{
    font-size: 1.2rem;
    margin-right: 1rem;
}*/

#pr-2col-table li label{
    margin-right: 0.5rem;
} 

#pr-2col-table li:nth-child(3) #female, #pr-2col-table li:nth-child(3) #male{
    appearance: none;
    border-radius: 100%;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.22rem solid #a7a7a7;
    /* background-color: rgb(223, 223, 223); */
    transition-duration: 0.1s;
    transition-timing-function: linear; /* Same speed */
   /* outline: none;
    margin-right: 5px;*/
}

#pr-2col-table li:nth-child(3) #female:checked {
    border: 0.3rem solid rgb(217, 2, 221);
}

#pr-2col-table li:nth-child(3) #male:checked {
    border: 0.3rem solid rgb(2, 130, 221);
}

#pr-2col-table li:not(:nth-child(3)) input{
    text-indent: 0.3rem;
    font-size: 1.25rem;
    height: 2rem;
    width: 12rem;
}

#pr-2col-table li:not(:nth-child(3)) input::placeholder{
    color: #c8c8c8;
    font-size: 1.25rem;
}

#pr-2col-table .pr-profile-info-button {
    border-radius: 0.6rem;
    height: 3.5rem;
    width: 12rem;
    font-size: 1.8rem;
    color: rgb(69, 69, 69);
    font-weight: 600;
    /* text-shadow: 0px 1px 3px white; */
    transition-duration: 0.3s;
    background-color: #E3C9EE;
    border: none;
    box-shadow: 0px 0px 2px black;
    margin-left: 100%;
    margin-top: 1rem;
    font-family: "Poetsen One", sans-serif;
}

#pr-2col-table .pr-profile-info-button:hover {
    background-color: #dfbced;
    color: rgb(59, 59, 59);
    transition-duration: 0.3s;
}

#pr-2col-table .pr-profile-info-button:active {
    border: 0.01rem solid #440C5C;
}

#pr-medical-history-button {
    background-image: url(../page-images/medical-history.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
    border: none;
    height: 4.5rem;
    width: 4.5rem;
    position: relative;
    top: 28.5vh;
    left: 19vw;
    opacity: 0.8;
    transition-duration: 0.2s;
}

#pr-medical-history-button:hover {
    opacity: 1;
    /* height: 4.6rem;
    width: 4.6rem;
    top: 28.4vh; */
}

#pr-medical-history-button:active {
    height: 4.3rem;
    width: 4.3rem;
    top: 28.7vh;
}

#pr-profile-info-buttons {
    display: grid;
    width: 100vw;
    grid-template-columns: 15% 15%;
    margin-left: 71vw;
}

#pr-2col-table-info {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
}

#pr-child-data-form {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: #deadf1;
}

#pr-add-more-info-button, #pr-add-memory-button, #pr-see-calendar {
    border-radius: 0.6rem;
    height: 2.4rem;
    font-family: 'Lato';
    width: 10rem;
    font-size: 1.1rem;
    font-weight: 850;
    color: #000000e0;
    transition-duration: 0.3s;
    background-color: #dfbced;
    border: none;
    margin-left: 31%;
    margin-right: auto;
    box-shadow: 0px 0px 2px black;
    margin-top: -4.68rem;
}

#pr-add-memory-button, #pr-see-calendar{
    margin-left: 0%;
}

#pr-add-more-info-button:active, #pr-add-memory-button:active, #pr-see-calendar:active{
    border: 0.01rem solid #440C5C;
}

/* ADD MEMORY BUTTON CLICKED:*/

#pr-add-memory-form {
    display: none; /*grid*/
    grid-template-rows: 10% 80% 10%; 
    font-family: Lato;
    position: absolute;
    top: 0%;
    left: -2%;
    height: 100%;
    width: 100%;
    background-color: #deadf1;
}

#pr-add-memory-form p {
    font-family: "Poetsen One", sans-serif;
}

#pr-add-memory p{
    margin-left: 38.4%;
    color: #eee7f0;
    margin-top: 2.55%;
    font-size: 2rem;
    text-shadow: 0px 2px 3px #440C5C;
}

#pr-add-memory-form-container {
    display: flex;
    flex-direction: row;
    margin-top: 3.5%;
    height: 78%;
}

#pr-add-memory-form-container input {
    opacity: 0;
    height: 27rem;
    width: 25%;
    position: absolute;
    z-index: 1;
}

#pr-add-memory-photo {
    z-index: 0;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    /* margin-top: 0; 3.45%; */
    height: 27rem;
    width: 24rem;
    background-color: #801FAA;
    margin-left: 21%;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.384);
}

#pr-add-memory-photo::after {
    content: "";
    height: 17rem;
    width: 17rem;
    position: relative;
    top: 26%;
    left: 20%;
    background-image: url("../page-images/add-photo-icon.png");
    background-size: 86%;
    background-repeat: no-repeat;
    box-shadow: none;
    display: block;
    opacity: 0.25;
    transition-duration: 0.3s;
}

#pr-add-memory-photo:hover::after{
    opacity: 0.6;
}

#pr-add-memory-photo:active::after{
    opacity: 1;
}

#pr-add-memory-save-button {
    height: 4rem;
    width: 6rem;
    font-family: "Poetsen One", sans-serif;
    text-indent: 0.2rem;
    background: #B35BD9;
    font-size: 2rem;
    color: #eee7f0;
    text-align: center;
    border: none;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    box-shadow: 0 7px 0px #801FAA;
    position: relative;
    transition-duration: 0.15s;
}

#pr-add-memory-save-button:active{
    margin-top: 5%;
    box-shadow: 0 2px 0px #801FAA;
    transition: 0.15s;
}

#pr-add-memory-save-button:hover {
    color: #d3ccd5;
}

#pr-save-button-extension {
    color: #eee7f0;
    z-index: 0;
    text-indent: -0.5rem;
    user-select: none;
    cursor: pointer;
    font-size: 2.5rem;
    font-family: "Poetsen One", sans-serif;
    align-content: center;
    height: 4rem;
    text-align: center;
    width: 2rem;
    background: #B35BD9;
    box-shadow: 0 7px 0px #801FAA;
    transition-duration: 0.15s;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}


#pr-save-button-container {
    display: flex;
    margin-left: 42vw;
    width: 7rem;
    z-index: 0;
    margin-top: 1.8rem;
}

#pr-sent-animation{
    margin-left: -30%;
    background-image: url("../page-images/arrow-animation.png");
    background-repeat: no-repeat;
    height: 14.5rem;
    width: 31rem;
    position: absolute;
    margin-top: 25%;
    z-index: 0;
}

.linear-throw {
    animation: sentAnimation 1.2s linear; /* timing-function delay iteration-count direction fill-mode; */
    overflow: hidden;
}

@keyframes sentAnimation {
    from {
        transform: rotateZ(360deg);
        margin-left: -30%;
    }
    40% {
        margin-top: 15%;
    }
    60% {
        margin-top: 15%;
    }
    to {
        margin-left: 90%;
        margin-top: 25%;
        transform: rotateZ(-360deg);

    }
}

#pr-add-memory-form-container textarea{
    z-index: 0;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    resize: none;
    border: none;
    outline: none;
    height: 25rem;
    width: 24rem;
    text-align: center;
    font-family: "Schibsted Grotesk";
    text-wrap: pretty; 
    font-size: 1.2rem;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.384);
    align-content: center;
    background-color: #ebebeb;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.574);
    transition-duration: .2s;
}

#pr-add-memory-form-container textarea::placeholder{
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
}

#pr-add-memory-form-container textarea:hover::placeholder{
    font-size: 1.2rem;
    color: rgb(56, 56, 56);
}

#pr-add-memory-form-container textarea:hover{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    transition-duration: .2s;
}

#pr-add-more-info-button:hover, #pr-add-memory-button:hover, #pr-see-calendar:hover{
    background-color: #deadf1;
    transition-duration: 0.3s;
}

/* #pr-arrow {
    position:relative;
    margin-top: 3.96rem;
    margin-left: -2.4rem;
    width: 2rem;
    height: 2rem;
    border-top: 0.25rem solid #6E18C0;
    border-right: 0.25rem solid #6E18C0;
    transform: rotate(45deg);
} */

#pr-child-buttons {
    display: grid;
    width: 20%;
    margin-left: 24.5%;
    margin-top: 5%;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 7.35rem;
    /*margin-top: 14rem;
    display: grid;
    margin-left: 33.5%;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 7.35rem;
    width: 29%; */
}


/* #pr-add-memory-button, #pr-see-calendar {
    height: 2rem;
    width: 10rem;
    border-radius: 0.6rem;
    border: none;
    box-shadow: 0px 0px 3px black;
} */

#pr-medical-history {
    display: none; /* block */
    width: 100%;
    height: 100%;
    background-color: #deadf1;
    position: absolute;
    top: 0%;
    left: 0%;
    align-items: center;
    overflow: scroll;
}

#pr-medical-table{
    margin-left: 3.46%;
    width: 79.55vw;
    height: 100%;
    background-color: #deadf1;
}

#pr-medical-table table{
    background-color: #deadf1;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

#pr-medical-table table textarea{
    text-align: center;
    align-content: center;
    font-family: "Schibsted Grotesk";
    border: none;
    resize: none;
    outline: none;
    height: 15rem;
    width: 100%;
    background-color: #deadf1;
    border-radius: 0.4rem;
    transition-duration: 0.3s; 
} 

#pr-medical-table table textarea:focus {
    background-color: #dda8f1;
}

#pr-medical-table table td:nth-child(1) textarea{
    font-weight: 700;
}

#pr-medical-table table td:nth-child(2) textarea{
    margin-top: 1.08rem;
}

#pr-medical-table table tbody td:nth-child(2){
    /* width: 100%;
    display: grid;
    grid-template-rows: 90% 10%; */
    justify-items: center;
}

.pr-medical-record-date {
    background-color: transparent;
    border: none;
    text-align: center;
    width: 32%;
    outline: none;
}

.row td{
    /* overflow: scroll; */
    word-wrap: break-word;
    /* background-color: red; */
    /* max-width: 25.83rem; */
    border-bottom: 2px solid #440C5C;
    border-left: 0.2rem solid transparent;
    border-right: 0.2rem solid transparent;
    /* min-width: 25.83rem; */
    width: 33%;
}

.row:last-child td {
    border: none;
}

table td{
    font-family: "Schibsted Grotesk";
    width: 33%;
}

table tr {
    width: 100%;
}

#pr-medical-table thead td{
    height: 3rem;
    background-color: #A635D6;
    border: 0.2rem solid #A635D6;
}

.pr-button-medical-record {
    font-family: "Poetsen One", sans-serif;
    /* font-weight: 600; */
    margin-top: 5%;
    margin-left: 44%;
    margin-bottom: 4%;
    height: 5rem;
    width: 10rem;
    background: #B35BD9;
    font-size: 1.4rem;
    color: #eee7f0;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0 7px 0px #801FAA;
    display: inline-block;
    position: relative;
    transition-duration: 0.1s;
}

.pr-button-medical-record:active {
    margin-top: 6.5%;
    box-shadow: 0 2px 0px #801FAA;
}

#pr-buttons-medical-history {
    display: grid;
    grid-template-columns: 20% 20%;
    justify-content: center;
    margin-left: -10.1%;
    margin-top: 5%;
}

#pr-timeline {
    width: 100%;
    height: 20rem;
    z-index: 0;
    padding-top: 6.3rem;
    padding-bottom: 1.5rem;
    margin-top: -2rem;
}

#pr-line {
    width: 100%;
    height: 0.5rem;
    background: linear-gradient(to right, #440C5C 50%, transparent 50%);
    background-size: 0.3rem; /*0.5rem*/
    margin-top: 10rem;
    transition-duration: 0.5s;
}

#pr-memories {
    display: flex;
    overflow-x: auto;
    width: 79.65vw;
    margin-left: 3.3rem;
    height: 21.1rem;
    margin-top: -11rem;
    padding-top: 1.1rem;
    /* box-sizing: border-box;  */
}

.pr-memory {
    height: 20rem;
    width: 21rem;
    margin-left: 1.5rem;
    box-shadow: 0px 0px 1px black;
    flex-shrink: 0;
    transition-duration: 0.5s;
    display: grid;
    grid-template-rows: 7.5% 91.5%;
    white-space: nowrap;
}

.pr-memory:hover {
    margin-top: -1rem;
    margin-right: 1rem;
}

.pr-memory .pr-memory-content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.pr-memory .pr-memory-content span{
    margin-left: 0.45rem;
    text-align: center;
    width: 92.5%;
    margin-top: 0.45rem;
    align-content: center;
    font-size: 0.9rem;
    word-break: break-word;
    white-space: normal;
    opacity: 0;
    transition-duration: 0.2s;
}

.pr-memory #pr-old-style {
    display: flex;
    justify-content: center;
}

.pr-memory #pr-old-style div{
    margin: 0.2rem;
    margin-top: 0.5rem;
    display: block;
    background-color: rgba(189, 189, 189, 0.336);
    height: 1rem;
    width: 2.5rem;
    border-radius: 10rem;
    box-shadow: 0px 0.5px 2px 0.01px rgba(64, 64, 64);
}

.pr-memory img{
    object-fit: cover;
    height: 17rem;
    width: 19.5rem;
    margin-left: 0.75rem;
    margin-top: 0.5rem;
    z-index: 1;
    box-shadow: 0px 0px 3px 0px black;
}

.pr-memory:first-child {
    margin-left: 1.5rem;
}

.pr-memory:last-child {
    margin-right: 1rem;
}

.pr-list-item {
    display: grid;
    grid-template-columns: 20% 80%;
    position: relative;
    width: 79.6vw;
    height: 20vh;
    background-color: #E3C9EE;
    /* border-bottom: #440C5C solid 0.2rem; */
    /* border-radius: 1%; */
    align-items: center;
    box-shadow: inset 0px -54px 25px -70px #440C5C;
    transition-duration: 0.05s;
}

/* .pr-list-item:hover, .pr-list-item:nth-child(even):hover{
    box-shadow: inset 0px -54px 25px -6px #440C5C;
} */

.pr-list-item input {
    background-color: #E3C9EE;
    justify-content: center;
    display: flex;
    color: #440C5C;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    height: 75%;
    border: none;
    /* border-right: #440C5C solid 0.2rem; */
    outline: none;
    margin-left: 2.5rem;
}

.pr-list-item:nth-child(even), .pr-list-item:nth-child(even) input{
    background-color: #e0b7ee;
}

.pr-list-item span {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    text-shadow: none;
}

#pr-calendar-buttons {
    display: grid;
    grid-template-columns: 30% 30% 5%;
    margin-left: 33%;
}

.pr-calendar-button {
    top: 1.2rem;
    left: -5rem;
    background: linear-gradient(110deg, #B35BD9 40%, #a145c8 100%);
    font-size: 2.3rem;
    font-weight: 550;
    height: 4rem;
    font-style: italic;
    border-radius: 0.45rem;
    transform: skewX(-1deg); /* / */
}

.pr-button-medical-record:hover {
    color: #e6cef0;
}

.pr-export-pdf {
    background-image: url("../page-images/pdf-export.png");
    background-color: transparent;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    margin: 0 0.5rem 0.4rem 0;
    border: none;
    margin-left: 16.1rem;
    margin-top: 3.9rem;
    transition-duration: 0.1s;
}

.pr-export-pdf:hover {
    background-image: url("../page-images/pdf-export-hover.png");
}

.pr-export-pdf:active {
    background-size: 95%;
}

.pr-medical-big-text {
    font-size: 2.3rem;
}

.pr-schedule-type-buttons:first-child {
    margin-left: 0.5rem;
}

.pr-schedule-type-buttons {
    margin-top: 0.3rem;
    height: 3.2rem;
    width: 13.07%;
    overflow-x: hidden;
    border: 2px solid #2b003d;
    border-bottom: none;
    background-color: rgb(208 202 210);
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.2rem;
    transition-duration: 0.2s;
    /* transition-timing-function: linear; */
}

#pr-open-feeding-schedule {
    font-size: 1.2rem; /*1.27rem*/
}

#pr-schedules {
    background-color: #d1aae1;
    display: none;
    position: absolute;
    left: 3.4vw;;
    top: 0;
    width: 79.6vw;
    height: 91.9vh;
}

#pr-schedule-delimeter {
    display: flex;
}

#pr-schedules #pr-bottom-border1 {
    width: 0.8%;
    border-bottom: 2px solid #440C5C;
}

#pr-schedules #pr-bottom-border2 {
    width: 0.56%;
    /* margin-left: 12.82%; */
    border-bottom: 2px solid #440C5C;
}

#pr-schedules #pr-bottom-border3 {
    width: 73%;
    /* margin-left: 12.8%; */
    border-bottom: 2px solid #440C5C;
}

.pr-schedule {
    background-color: #E3C9EE;
    height: 100%;
    width: 100%;
    background-color: #e6cef0;
    display: grid;
    grid-template-rows: 50% 50%;
    text-align: center;
    transition-duration: 0.3s;
}

#pr-feeding-schedule {
    background-color: #e4c5f3;
}

#pr-open-feeding-schedule {
    background-color: #e4c5f3;
}

.pr-schedule-4 {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    border-bottom: 3px solid #440C5C;
}

.pr-schedule-3 {
    display: grid;
    grid-template-columns: repeat(3, 33.33333%);
}

.pr-weekday:not(:last-child) {
    border-right: 3px solid #440C5C;
}

.pr-weekday {
    overflow-x: scroll;
    max-height: 100%;
    transition-duration: 0.3s;
}

.pr-weekday:hover {
    background-color: rgb(223, 193, 236);
}

.pr-weekday .pr-weekday-span {
    border-bottom: 3px solid #440C5C;
    user-select: none;
    margin-left: 1.35rem;
}

.pr-schedule-records {
    margin-top: 0.35rem;
}

/* .pr-schedule-record:hover {
    box-shadow: 0px 0px 6px -4px black;
} */

.pr-schedule-record {
    display: grid;
    grid-template-columns: 20% 66% 14%;
    padding-left: 5%;
    padding: 1%;
    font-size: 1.05rem;
    font-weight: 420;
    font-family: 'Noto Sans JP';
    transition-duration: 0.15s;
}

/* .pr-schedule-record span:first-child {
    border-right: 1px solid #440C5C;
} */

.pr-schedule-record span:nth-child(2){
    word-break: break-all;
}

#pr-sleeping-schedule {
    display: none;
}

#pr-sleeping-schedule .pr-schedule-record {
    display: grid;
    grid-template-columns: 17% 2% 17% 53% 12%;
    padding-left: 5%;
    padding: 1%;
    font-size: 1.05rem;
    font-weight: 420;
    font-family: 'Noto Sans JP';
    transition-duration: 0.15s;
}

#pr-sleeping-schedule .pr-schedule-record span:nth-child(4) {
    word-break: break-all;
}

#pr-sleeping-schedule .pr-new-record{
    display: none; /*grid*/
    grid-template-columns: 16% 3% 16% 46% 9% 11%;
    /* background-color: red; */
    padding-left: 5%;
    padding: 1%;
    transition-duration: 0.15s;
}

.pr-record-delete-button {
    transition-duration: 0.15s;
}

.pr-schedule-record span {
    user-select: none;
    align-content: center;
}

.pr-schedule-record:hover .pr-record-delete-button{
    opacity: 0.97;
}

.pr-schedule-record:hover {
    /* background-color: rgb(210, 181, 222); */
    box-shadow: 0px 0px 6px -4px black;
}

.pr-record-delete-button {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    background-image: url("../page-images/icons8-close-24.png");
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0;
}

.pr-schedule-4 .pr-record-delete-button {
    background-size: 70%;
    margin-left: 0.4rem;
}

.pr-schedule-3 .pr-record-delete-button {
    background-size: 65%;
    margin-left: 0.8rem;
}

#pr-sleeping-schedule .pr-schedule-4 .pr-record-delete-button {
    background-size: 83%;
    margin-left: 0.2rem;
}

#pr-sleeping-schedule .pr-schedule-3 .pr-record-delete-button {
    background-size: 69%;
    margin-left: 0.5rem;
}

/* .pr-new-record-text {
    text-overflow: clip;
} */

.pr-new-record {
    display: none; /*grid*/
    grid-template-columns: 20% 56% 9% 11%;
    /* background-color: red; */
    padding-left: 5%;
    padding: 1%;
    transition-duration: 0.15s;
}

.pr-new-record-time::-webkit-calendar-picker-indicator{
    display: none;
}

.pr-new-record-text::placeholder {
    color: rgba(69, 69, 69, 0.674);
    text-shadow: 0px 0px 1px #440C5C;
    font-size: 1.2rem;
    margin-left: -1.75rem
}

.pr-new-record input {
    text-shadow: 0px 0px 1px #440C5C;
    text-align: center;
}

.pr-new-record:hover {
    box-shadow: 0px 0px 6px -4px black;
}

.pr-new-record:hover button {
   opacity: 1;
   transition-duration: 0.15s;
}

.pr-new-record:not(:hover) button{
   transition-duration: 0.15s;
}

.pr-schedule-4 .pr-new-record .pr-submit-new-record {
    background-size: 89%;
    /* margin-left: 0.001rem; */
}

.pr-schedule-3 .pr-new-record .pr-submit-new-record {
   background-size: 94%;
   margin-left: 0.5rem;
    /* margin-left: 0.8rem; */
}

.pr-new-record .pr-submit-new-record:hover, .pr-new-record .pr-hide-schedule-record-input:hover {
   opacity: 0.75;
}

.pr-new-record .pr-submit-new-record:active, .pr-new-record .pr-hide-schedule-record-input:active {
   opacity: 1;
}

.pr-new-record .pr-submit-new-record {
    background-image: url("../page-images/icons8-done-24.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
}

.pr-new-record input, .pr-new-record .pr-submit-new-record {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.05rem;
    color: #140018de;
    font-weight: 420;
    font-family: 'Noto Sans JP';
}

.pr-add-new-record-button {
    border: none;
    opacity: 0;
    transition-duration: 0.15s;
    height: 1.05rem;
    width: 1.05rem;
    margin-left: 0.23rem;
    margin-top: 0.12rem;
    background-color: transparent;
    background: url("../page-images/icons8-plus-24.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.pr-weekday-title:hover button {
    opacity: 1;
    /* transition-duration: 0.15s; */
}

.pr-weekday-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pr-new-record .pr-hide-schedule-record-input {
    background-image: url(../page-images/icons8-close-24.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0;
    /* transition-duration: 0.15s; */
}

.pr-schedule-4 .pr-hide-schedule-record-input{
   background-size: 82%;
}

.pr-schedule-3 .pr-hide-schedule-record-input{
   background-size: 68%;
}


@media only screen and (max-width: 1475px) {
    #pr-add-memory-form-container {
        display: grid;
        grid-template-rows: 50% 50%;
    }
    #pr-2col-table-info{
        width: 57%;
        margin-left: 9%;
    }
    #pr-last-info-item {
        margin-left: 9%;
    }
    #pr-add-more-info-button{
        margin-left: 19%;
    }
    #pr-add-memory-button {
        margin-left: -75%;
    }
    #pr-see-calendar {
        margin-left: -30%;
    }
}